*~
*.o
/work/*
*/work/*
/old/*
*/linux-ix86/*
*/Linux-i686/*
*/linux-x86_64/*
*/win32-ix86/*
*/windows-intel/*
linux-ix86/*
Linux-i686/*
linux-x86_64/*
win32-ix86/*
windows-intel/*
/tests/tmp/*
/_darcs/*
/newfile
tclIndex
/sqlite3/tests/test.db*

